div{
    width: 700px;
    height: 600px;
    /* border-radius: 50px; */
    margin: auto;
    margin-left: 20px;
}

.container{
    display: flex;
    position: absolute;
    left: 20px;
}

.kotak1{
    background-color: rgb(253, 7, 7);
    border: 1px solid black;
}

.kotak2{
    background-color: rgb(255, 247, 2);
    border: 1px solid black;
}

.kotak3{
    background-color: rgb(3, 144, 26);
    border: 1px solid black;
}

.kotak4{
    background-color: rgb(4, 12, 252);
    border: 1px solid black;
}

